
<div class="register-container">
  <h1 class="create-account">Create account</h1>
  <div class="form-box">
    <form action="" class="register-form">
            <label class="form-group">Full Name:
              <input type="text" id="full-name" name="full-name" class="form-control" placeholder="Enter your full name" required>
              <small class="form-message" id="nameMessage">This will be your display name.</small>
            </label>

            <label class="form-group">Email:
              <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
              <small class="form-message" id="emailMessage">You'll use your email address to log in.</small>
            </label>

      <label class="form-group">Master password:
        <div class="password-container">
          <input type="password" id="masterPassword" formControlName="masterPassword" class="form-control" placeholder="Create a password" required>
          <button type="button" class="toggle-password-btn" (click)="toggleMasterPasswordVisibility()">
            <img src="assets/images/eye.png" alt="Show Password" id="masterPasswordIcon" class="password-icon">
          </button>
        </div>
        <small class="form-message" id="passwordMessage"><b>Important:</b> Your master password cannot be recovered if you forget it! 12 character minimum.</small>
      </label>


      <label class="form-group">Confirm Password:
        <div class="password-container">
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm your password" required>
          <button type="button" class="toggle-password-btn" (click)="toggleConfirmPasswordVisibility()">
            <img src="assets/images/eye.png" alt="Show Password" id="confirmPasswordIcon" class="password-icon">
          </button>
        </div>
        <small class="form-message" id="confirmPasswordMessage">Both passwords should match.</small>
      </label>


            <button type="submit" class="btn">Register</button>
            <hr>
            <p class="already-member"> Already have an account? <a href="../login" class="login-link"> Log in here! </a> </p>
          </form>
        </div>
      </div>
