<div class="password-card">
  <div class="service-info">
    <div class="service-details">
      <strong>{{ password.itemName }}</strong>
      <span>{{ password.username }}</span>
    </div>
  </div>

  <div class="password-actions">
    <button class="more-btn" (click)="toggleDropdown()">
      <img src="assets/images/more.png" alt="More Options" class="three-dots-icon">
    </button>
    <div class="dropdown" *ngIf="dropdownVisible">
      <button class="dropdown-item" (click)="copyUsername()">Copy Username</button>
      <button class="dropdown-item" (click)="copyPassword()">Copy Password</button>
      <button class="dropdown-item" (click)="modify()">Modify</button>
      <button class="dropdown-item" (click)="cloneEntry()">Clone</button>
      <button class="dropdown-item" (click)="deleteEntry()">Delete</button>
    </div>
  </div>
</div>
