<div class="login-container">
  <img src="assets/images/login_page.png" alt="logo" class="logo">

  <div class="form-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h1>Login</h1>

      <label class="form-group">Email:
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" required>
      </label>

      <label class="form-group">Password:
        <div class="password-container">
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password" required>
          <button type="button" id="togglePassword" class="toggle-password-btn" (click)="togglePasswordVisibility()">
            <img src="assets/images/eye.png" alt="Show Password" id="passwordIcon" class="password-icon">
          </button>
        </div>
      </label>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit" [disabled]="!loginForm.valid" class="btn">Login</button>

      <hr>
      <p class="new-here"> New here? <a href="../register" class="register-link"> Create an account! </a> </p>
    </form>
  </div>
</div>
