<div class="main-container">
  <header class="app-header">
    <div class="logo">SafeKeeper</div>
    <div class="dashboard"></div>
    <div class="user-info" (click)="toggleUserData()">
      <img src="assets/images/user.png" alt="User Avatar" class="user-avatar">
    </div>
  </header>

  <div *ngIf="showUserData" class="user-data">
    <h1>Userdata:</h1>
    <p>Name: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <button (click)="logout()">Logout</button>
  </div>

  <div class="layout">
    <nav class="sidebar-menu">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Manage Passwords</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </nav>

    <main class="main-content">
      <div class="header-container">
        <h2>Password Vault</h2>
        <button class="add-password-btn" (click)="openModal()">Add</button>
      </div>

      <!-- Password entries -->
      <div *ngIf="passwords.length > 0; else noPasswords">
        <div *ngFor="let password of passwords">
          <app-gen-passwords
            [password]="password"
            (passwordDeleted)="onPasswordDeleted()"
            (modifyPassword)="openModal($event)">
          </app-gen-passwords>
        </div>
      </div>
      <ng-template #noPasswords>
        <p>No passwords available. Please add a new password.</p>
      </ng-template>

      <!-- Modal for adding password -->
      <div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>
      <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
          <span (click)="closeModal()" class="close-button">&times;</span>
          <h2 class="modal-title">Add New Password</h2>

          <form #addPasswordForm="ngForm" (ngSubmit)="submitPassword(addPasswordForm)">
            <div class="form-group">
              <label for="itemName">New Item</label>
              <input type="text" id="itemName" name="itemName" class="form-control" [(ngModel)]="passwordToEdit.itemName" required minlength="3" maxlength="50" pattern="^[a-zA-Z0-9._-]*">
              <div *ngIf="addPasswordForm.controls['itemName']?.invalid && (addPasswordForm.controls['itemName']?.dirty || addPasswordForm.controls['itemName']?.touched)">
                <small *ngIf="addPasswordForm.controls['itemName']?.errors?.['required']">Item name is required.</small>
                <small *ngIf="addPasswordForm.controls['itemName']?.errors?.['minlength']">Item name must be at least 3 characters.</small>
                <small *ngIf="addPasswordForm.controls['itemName']?.errors?.['maxlength']">Item name cannot exceed 50 characters.</small>
                <small *ngIf="addPasswordForm.controls['itemName']?.errors?.['pattern']">Item name can only contain letters, numbers, '.', '-', and '_'.</small>
              </div>
            </div>

            <div class="form-group input-row">
              <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="passwordToEdit.username" required minlength="3" maxlength="50" pattern="^[a-zA-Z0-9._-]*">
                <div *ngIf="addPasswordForm.controls['username']?.invalid && (addPasswordForm.controls['username']?.dirty || addPasswordForm.controls['username']?.touched)">
                  <small *ngIf="addPasswordForm.controls['username']?.errors?.['required']">Username is required.</small>
                  <small *ngIf="addPasswordForm.controls['username']?.errors?.['minlength']">Username must be at least 3 characters.</small>
                  <small *ngIf="addPasswordForm.controls['username']?.errors?.['maxlength']">Username cannot exceed 50 characters.</small>
                  <small *ngIf="addPasswordForm.controls['username']?.errors?.['pattern']">Username can only contain letters, numbers, '.', '-', and '_'.</small>
                </div>
              </div>

              <div class="input-group">
                <label for="uri">URI</label>
                <input type="text" id="uri" name="uri" class="form-control" [(ngModel)]="passwordToEdit.uri"
                       pattern="https?://[A-Za-z0-9-._~:/?#[\]@!$&'()*+,;=]+"
                       title="Include http:// or https:// and only valid URL characters."
                       required>
                <div *ngIf="addPasswordForm.controls['uri']?.invalid && (addPasswordForm.controls['uri']?.dirty || addPasswordForm.controls['uri']?.touched)">
                  <small *ngIf="addPasswordForm.controls['uri']?.errors?.['pattern']">Please enter a valid URL starting with http:// or https:// and containing only valid characters.</small>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <div class="password-container">
                <input type="password" id="password" name="password" [(ngModel)]="passwordToEdit.password" required minlength="1" maxlength="64" class="form-control">
                <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility('password')">
                  <img src="assets/images/eye.png" alt="Show Password" id="passwordIcon" class="password-icon">
                </button>
              </div>
              <div *ngIf="addPasswordForm.controls['password']?.invalid && (addPasswordForm.controls['password']?.dirty || addPasswordForm.controls['password']?.touched)">
                <small *ngIf="addPasswordForm.controls['password']?.errors?.['required']">Password is required.</small>
                <small *ngIf="addPasswordForm.controls['password']?.errors?.['minlength']">Password must be at least 1 character.</small>
                <small *ngIf="addPasswordForm.controls['password']?.errors?.['maxlength']">Password cannot exceed 64 characters.</small>
              </div>
            </div>

            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea id="notes" name="notes" class="form-control"
                        [(ngModel)]="passwordToEdit.notes"
                        minlength="0" maxlength="200"
                        pattern="^[a-zA-Z0-9\s.,!@#\$%\^&\*\(\)]+$"></textarea>
              <div *ngIf="addPasswordForm.controls['notes']?.invalid && (addPasswordForm.controls['notes']?.dirty || addPasswordForm.controls['notes']?.touched)">
                <small *ngIf="addPasswordForm.controls['notes']?.errors?.['maxlength']">Notes cannot exceed 200 characters.</small>
                <small *ngIf="addPasswordForm.controls['notes']?.errors?.['pattern']">Only certain special characters are allowed (.,!&#64;#$%^&*).</small>
              </div>
            </div>

            <button class="btn" type="submit" [disabled]="isSubmitting">Submit</button>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
