<div class="main-container">
  <header class="app-header">
    <div class="logo">SafeKeeper</div>
    <div class="dashboard">
    </div>
    <div class="user-info" (click)="toggleUserData()">
      <img src="assets/images/user.png" alt="User Avatar" class="user-avatar" >
    </div>


  </header>
  <div *ngIf="showUserData" class="user-data">
    <h1>Userdata:</h1>
    <p>Name: {{ username}}<p>
    <p>Email: {{ email }}</p>
    <button (click)="logout()">Logout</button>
  </div>

  <div class="layout">
    <nav class="sidebar-menu">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Manage Passwords</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

    <main class="main-content">
      <div class="header-container">
        <h2>Password Vault</h2>
        <button class="add-password-btn" (click)="openModal()">Add</button>
      </div>

      <!-- Password entries -->
      <div *ngIf="passwords.length > 0; else noPasswords">
        <div *ngFor="let password of passwords">
          <app-gen-passwords [password]="password"></app-gen-passwords>
        </div>
      </div>
      <ng-template #noPasswords>
        <p>No passwords available. Please add a new password.</p>
      </ng-template>

      <app-add-password-modal *ngIf="isModalOpen" (close)="closeModal()"></app-add-password-modal>
    </main>
  </div>
</div>
